<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User Edit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <style>form * {
        margin: 5px;
        padding: 5px;
    }</style>
</head>
<body>
<div class="topnav">
    <a href="/">Index</a>
    <a sec:authorize="isAuthenticated()" href="/user">User</a>
    <a sec:authorize="hasRole('ADMIN')" href="/admin">Admin Panel</a>
    <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    <a sec:authorize="isAnonymous()" href="/login">Login</a>
</div>
<h1>User Edit</h1>
<br>
<div style="margin-top: 10px">
    <form th:action="@{/admin/edit/submit}" method="post">
        <span>ID&emsp; &emsp;</span>
        <span th:text="${user.id}"></span>
        <br>
        <input type="hidden" th:name="id" th:value="${user.id}">
        <label> Username
            <input th:name="username" th:value="${user.username}">
        </label>
        <br>
        <label> Password
            <input th:name="password" type="password">
        </label>
        <br>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:checked="${user.getRoles().contains(role)}"
            />
        </label>
        <br>
        <button type="submit"><b>Confirm</b></button>
    </form>
</div>
</body>
</html>