<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/style.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Index</a>
    <a sec:authorize="isAuthenticated()" href="/user">User</a>
    <a sec:authorize="hasRole('ADMIN')" href="/admin">Admin Panel</a>
    <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    <a sec:authorize="isAnonymous()" href="/login">Login</a>
</div>
<h1>User List</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th style="width: 169px">Username</th>
            <th>Roles</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <span th:each="role : ${user.getRoles()}">
                    <span th:text="${role.getName()}"></span>
                    <br>
                </span>
            </td>
            <td>
                <form th:action="@{/admin/delete}" method="get">
                    <button type="submit" th:value="${user.id}" th:name="id"><b>Delete</b></button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/edit}" method="get">
                    <button type="submit" th:value="${user.id}" th:name="id"><b>Edit</b></button>
                </form>
            </td>
        </tr>
    </table>

    <form th:action="@{/admin/add}" method="post">
        <table>
            <tr>
                <td colspan="5" style="border: none; padding-top: 20px">
                    <b>Add User:</b>
                </td>
            </tr>
            <tr>
                <td><label> Username
                    <input th:name="username">
                </label></td>
                <td><label> Password
                    <input type="password" th:name="password">
                </label></td>
                <td>
                    <label>Roles:
                        <input type="checkbox" name="roles"
                               th:each="role : ${allRoles}"
                               th:text="${role.name}"
                               th:value="${role.id}"
                        />
                    </label>
                </td>
                <td>
                    <button type="submit"><b>Add</b></button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>