<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/style.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Index</a>
    <a sec:authorize="isAuthenticated()" href="/user">User</a>
    <a sec:authorize="hasRole('ADMIN')" href="/admin">Admin Panel</a>
    <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    <a sec:authorize="isAnonymous()" href="/login">Login</a>
</div>
<h1><span th:text="${user.getUsername()}"/>, welcome to user details page!</h1>
<table>
    <tr>
        <td>ID</td>
        <td><span th:text="${user.id}"></span></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><span th:text="${user.username}"></span></td>
    </tr>
    <tr>
        <td>Password Hash</td>
        <td><span th:text="${user.password}"></span></td>
    </tr>
    <tr>
        <td>Roles</td>
        <td><span th:each="role : ${user.getRoles()}"><span th:text="${role.getName()}"></span><br></span></td>
    </tr>
</table>
</body>
</html>