.sidebar {
    background-color: white;
    height: 100vh;
}
.main-content {
    background-color: #f8f9fa;
}
.navbar {
    font-size: larger;
}
#new .card-body {
    align-self: center;
    width: 50%;
    text-align: center;
    font-weight: bold;
}